{% extends "__base__.html" %} 

{% block title %}{{ __user__.name }}{% endblock %}

{% block beforehead %}

<script>
function initVM(datas) {
    var vm = new Vue({
         el: '#vm',
         data: {
             count: datas.count
         },
         methods: {
            add () {
                postJSON('/api/fos', this.$data, function (err, r) {
                    if (err) {
                        alert('佛祖要休息一会...')
                        // alert(err.message || err.error || err);
                    }
                });
                this.count++;
            },
            anonymous_add () {
                this.count++;
            }
         }
     });
     window.vm = vm;
     $('#vm').show();
};

$(function() {
    getJSON('/api/fo', {
        // console.log('get api fo');
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        initVM(results);
    });
});

</script>
<style>
    .main {
        display: -webkit-flex;
        display: flex;
    }
    #vm {
        margin: auto;
    }
    div.fo {
        border: 20px solid ;
        border-radius: 110px;
        height: 200px;
        width: 200px;
        text-align: center;
        font: 30px sans-serif;
        line-height: 200px;
        margin-top: 30px;
    }
</style>

{% endblock %}

{% block content %}
<div class="main">
<div id="vm">
    <p style="font-size: 3em;margin-top: 30px;">今天第{% raw %}{{ count }}{% endraw %}次</p>
    {% if __user__ %}
    <div class="fo" v-on="click: add">南無阿尼陀佛</div>
    <div><a href="/fos">排行榜</a></div>
    {% else %}
    <div class="fo" v-on="click: anonymous_add">南無阿尼陀佛</div>
    <div><a href="/register">注册后再来</a></div>
    <div><a href="/fos">排行榜</a></div>
    {% endif %}
</div>
</div>

{% endblock %}
