<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../static/js/vue2.6.0.min.js"></script>
</head>
<body>
    
<div id="app5" class="demo">
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
      <li v-for="(todo, index) in todos">
        <span>${ index+1 } ${ todo.text }</span>
        <button v-on:click="removeTodo(index)">X</button>
      </li>
    </ul>
  </div>
  <script>
  var app = new Vue({
    delimiters: ['${','}'],
    el: '#app5',
    data: {
      newTodo: '',
      todos: [
        { text: 'Add some todos' }
      ]
    },
    methods: {
      addTodo: function () {
        var text = this.newTodo.trim()
        if (text) {
          this.todos.push({ text: text })
          this.newTodo = ''
        }
      },
      removeTodo (index) {
        this.todos.splice(index, 1)
      }
    }
  })
  </script>
</body>
</html>