{% extends '__base__.html' %}

{% block title %}订单{% endblock %}

{% block beforehead %}
    <style>
        body {
            background-color: pink;
        }

        .point {
            background-color: #CCE8CF;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            display: inline-block;
        }

        .read {
            background-color: #CCE8CF;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: lightblue;
        }

        .point:hover {
            background: #000;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endblock %}

{% block content %}
    <div class="point pink"></div>
    <div class="point read"></div>
    <div class="point green"></div>
    <div class="point blue"></div>
    <div id="app">
        输入Cookie：<input type="text" v-model='cookie' placeholder="设置cookie"><br>
        订单页数：<input type="number" v-model='pageNum' placeholder="设置页数"><br>
        <textarea v-model='names' name='text' id="" cols="30" rows="10"></textarea>
        <br>
        店铺id：<span v-text='re_shop_id'></span><br>
        <button @click='post_trades'>开始</button>
        <button @click='init'>更新</button>
        <input type="text" class="form-control mt-3 mb-3" placeholder="筛选" v-model="search">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th v-for='h in heads'>${ h }</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='t in filterItems'>
                    <td  v-for='f in fields'>${ t[f] }</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        function changeBackgroundColor(cl, color) {
            $(cl).click(function () {
                $('body').css('background', color)
            })
        }
        $(function () {
            changeBackgroundColor('.pink', 'pink');
            changeBackgroundColor('.read', '#CCE8CF')
            changeBackgroundColor('.green', 'yellowgreen')
            changeBackgroundColor('.blue', 'lightblue')
        })
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['${','}'],
            data: {
                trades: [],
                search: '',
                names: '',
                cookie: '',
                pageNum: 1,
                fields: ['nick', 'tradeId', 'flag', 'price', 'shop', 'status', 'createTime', 'created_at'],
                heads: ['旺旺', '订单号', '旗子', '价格', '店铺', '交易状态', '交易时间', '登记时间']
            },
            computed: {
                re_shop_id () {
                    if (this.cookie!='') {
                        var re = /x=(\w+)/;
                        var a = re.exec(this.cookie);
                        var shop_id = a[1]
                        if (shop_id === '3079394145') {
                            return '通众旗舰店'+a[1]
                        } else if (shop_id == '2933051711') {
                            return '亿维办公旗舰店'+a[1]
                        } else if (shop_id == '925025092') {
                            return '亿维通众专卖店'+a[1]
                        } else if (shop_id == '2829884134') {
                            return '众泰专营店'+a[1]
                        } else if (shop_id == '1584616501') {
                            return '易加'+a[1]
                        }
                        
                    } else {
                        return ''
                    }
                },
                filterItems () {
                    return this.trades.filter((item) => {
                        var self = this
                        function fi(key) {
                            return item[key].match(self.search)
                        }
                        return fi('tradeId') || fi('price') || fi('nick') || fi('createTime') || fi('shop');
                    });
                }
            },
            created () {
                this.init();
            },
            methods: {
                init () {
                    if (!localStorage.getItem('cookie')) localStorage.setItem('cookie', '');
                    if (!localStorage.getItem('names')) localStorage.setItem('names', '');
                    this.cookie = localStorage.getItem('cookie');
                    this.names = localStorage.getItem('names');
                    url = '/api/trades'
                    fetch(url)
                    .then(resp => resp.json())
                    .then(data => {
                        this.trades = data.trades;
                        console.log(this.trades)
                    })
                },
                post_trades () {
                    localStorage.setItem('cookie', this.cookie);
                    localStorage.setItem('names', this.names);
                    var data = {'names': this.names, 'cookie': this.cookie, 'pageNum': this.pageNum}
                    var url = '/api/trades'
                    fetch(url, {
                        method: 'POST', // or 'PUT'
                        body: JSON.stringify(data), // data can be `string` or {object}!
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                        }).then(res => res.json())
                        .catch(error => console.log('Error:', error))
                        .then(response => {
                            console.log('Success:', response);
                            this.init();
                        });
                    
                }
            }
        })
        /*
        $(function() {
            setInterval(function () {
                app.post_trades();
                console.log('sleep 2 seconds')
            } , 1000*60*6)
        })
        */
    </script>
{% endblock %}

{% block footer %}
{% endblock %}
