{% extends '__base__.html' %}

{% block title %}音乐{% endblock %}

{% block content %}

<div class="uk-width-2-3@m">
    <form method="post" action="/wx" class="uk-form uk-form-stacked">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">url</label>
            <div class="uk-form-controls">
                <input name="url" type="url" placeholder="粘贴链接" class="uk-width-1-1">
            </div>
            <br>
            <p>
                比如：https://mp.weixin.qq.com/s/3na3akZysMgyaq4AKVjhIQ
            </p>
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button uk-button-primary">生成url</button>
        </div>
    </form>
</div>
{% endblock %}
